{% extends "layout.html" %}
{% block title %}Sobre - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
    
  <div class="col-lg-4">
        <h2>Este es un proyecto de Brands of Puerto Rico y Code for America. Envianos un email para contactarte con nosotros.</h2>
    <div class="form-group">
    <label for="email" class="col-sm-4 control-label">puertorico@codeforamerica.org</label>
     <div class="col-sm-8">
      <input type="email" class="form-control" name="email" placeholder="Entre su email" required="true"/>
      </div>
     </div>
   </div>


{% endblock %}