{% extends "layout.html" %}
{% block title %}Explora - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
  {{ super() }}
  <!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
  {% if entries %}
  {% for town, town_entries in entries.iteritems() %}

  <!--    <select id="ddlList">
        <option value="">Industria</option>
        <option value="Agricultura">Agricultura</option>
        <option value="Turismo">Turismo</option>
        <option value="Finanzas">Finanzas</option>
        <option value="Hospedaje">Hospedaje</option>
        <option value="Comida & Bebida">Comida & Bebida</option>
        <option value="Arte y entretenimiento">Arte y entretenimiento</option>
        <option value="Construcción">Construcción</option>
        <option value="Farmaceútica">Farmaceútica</option>
        <option value="Biotecnología">Biotecnología</option>
        <option value="Comercio">Comercio</option>
        <option value="Salud">Salud</option>
        <option value="nformática / media / internet">Informática / media / internet</option>
        <option value="Administración pública">Administración pública</option>
        <option value="Bienes raíces">Bienes raíces</option>
        <option value="Transporte">Transporte</option>
        <option value="Retail">Retail</option>
        <option value="Manufactura">Manufactura</option>
        <option value="Reparación de autos">Reparación de autos</option>
        <option value="Educación">Educación</option>
        <option value="Servicios profesionales">Servicios profesionales</option>
        <option value="Servicios científicos y técnicos">Servicios científicos y técnicos</option>
        <option value="Administración de empresas">Administración de empresas</option>
        <option value="Soporte administrativo">Soporte administrativo</option>
        <option value="Otra">Otra</option>
      </select>
      <select id="ddlList">
        <option value="">Desafío</option>
        <option value="Reubicar un negocio">Reubicar un negocio</option>
        <option value="Contratar pasantes">Contratar pasantes</option>
        <option value="Entrenar empleados">Entrenar empleados</option>
        <option value="Comprar equipamiento">Comprar equipamiento</option>
        <option value="Acceder a capital">Acceder a capital</option>
        <option value="Abrir un nuevo local">Abrir un nuevo local</option>
        <option value="Encontrar clientes">Encontrar clientes</option>
        <option value="Encontrar empleados calificados">Encontrar empleados calificados</option>
        <option value="Impuestos y regulaciones">Impuestos y regulaciones</option>
        <option value="Costo del alquiler">Costo del alquiler</option>
        <option value="Exportar la marca">Exportar la marca</option>
        <option value="other">Otro</option>
      </select>-->


      <div class="videos-content container" id="{{ town }}">
        <div class="row">
          <div class="col-md-12">
            <h3 class="video-header">
              <span class="town-name">{{ town }}</span>
            </h3>
          </div>
        </div> 
      <div class="video-container row">
        {% for video in town_entries %}
          <div class="item col-lg-3">
            <div class="item-content">
            {% if video.youtube_url %}
              <iframe width="325" height="260" src="//www.youtube.com/embed/{{ video.youtube_url }}" frameborder="0" allowfullscreen></iframe> <script>console.log(video.youtube_url);</script>
            {% else %}
              <img src="{{ video.picture_url }}" style="height:260px;width:325px"   alt="{{ video.prof }}">
            {% endif %}
            </div>
            <h4> <span class="video-name">{{ video.name }} </span></h4>
            <ul>
              <li> <strong>Industria: </strong> <span class="video-name">{{ video.industry }} </span></li>
              <li> <strong>Historia: </strong> <span class="video-name">{{ video.pride_in }} </span></li>
              <li> <strong>Desafio: </strong> <span class="video-name">{{ video.desafio }} </span></li>
              {% for meta in video.metas %}
                {% if meta != "" %}
                  <li><span class="video-name">Meta: {{ meta }} </span></li>
                {% endif %}
              {% endfor %}
              {% if video.twitter_url %}
                <li> <strong>Twitter: </strong> <span class="video-name">{{ video.twitter_url }} </span></li>  
              {% endif %}
              {% if video.facebook_url %}
                <li> <strong>Facebook: </strong> {{ video.facebook_url }}</li>  
              {% endif %}
              {% if video.website_url %}
                <li> <strong>Website: </strong> <span class="video-name">{{ video.website_url }} </span></li>  
              {% endif %}
              {% if video.facebook_url %}
                <div class="fb-like" data-href="{{ video.facebook_url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
              {% endif %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  {% endif %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}

    <script>

        orgullopr.init();

        /* $('document').ready(function(){

            var msnry = new Masonry($('.video-container')[0], {
                itemSelector: '.item',
                columnWidth: 240,
                isFitWidth: true,
                animationOptions: {
                    duration: 400
                },
                containerStyle: {
                    position: 'relative'
                }
            });
        });
      */

    </script>
{% endblock %}
