{% extends "layout.html" %}
{% block title %}Explora - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
  {{ super() }}
  <!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
  {% if entries %}
  {% for town, town_entries in entries.iteritems() %}
    <div class="videos-content container" id="{{ town }}">
      <div class="row">
        <div class="col-md-12">
          <h3 class="video-header">
            <span class="town-name">{{ town }}</span>
          </h3>
        </div>
      </div>
      <div class="video-container row">
        {% for video in town_entries %}
          <div class="item col-lg-3">
            <div class="item-content">
            {% if video.youtube_url %}
              <iframe width="325" height="260" src="//www.youtube.com/embed/{{ video.youtube_url }}" frameborder="0" allowfullscreen></iframe> <script>console.log(video.youtube_url);</script>
            {% else %}
              <img src="{{ video.picture_url }}" style="height:260px;width:325px"   alt="{{ video.prof }}">
            {% endif %}
            </div>
            <h4> <span class="video-name">{{ video.name }} </span></h4>
            <ul>
              <li> <strong>Industria: </strong> <span class="video-name">{{ video.industry }} </span></li>
              <li> <strong>Historia: </strong> <span class="video-name">{{ video.pride_in }} </span></li>
              <li> <strong>Desafio: </strong> <span class="video-name">{{ video.desafio }} </span></li>
              {% for meta in video.metas %}
                {% if meta != "" %}
                  <li><span class="video-name">Meta: {{ meta }} </span></li>
                {% endif %}
              {% endfor %}
              {% if video.twitter_url %}
                <li> <strong>Twitter: </strong> <span class="video-name">{{ video.twitter_url }} </span></li>  
              {% endif %}
              {% if video.facebook_url %}
                <li> <strong>Facebook: </strong> <span class="video-name">{{ video.facebook_url }} </span></li>  
              {% endif %}
              {% if video.website_url %}
                <li> <strong>Website: </strong> <span class="video-name">{{ video.website_url }} </span></li>  
              {% endif %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  {% endif %}
    {% block scripts %}
        {{ super() }}
    {% endblock %}

    <script>

        orgullopr.init();

        /* $('document').ready(function(){

            var msnry = new Masonry($('.video-container')[0], {
                itemSelector: '.item',
                columnWidth: 240,
                isFitWidth: true,
                animationOptions: {
                    duration: 400
                },
                containerStyle: {
                    position: 'relative'
                }
            });
        });
      */

    </script>
{% endblock %}
