{% extends "layout.html" %}
{% block title %}Home - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
    
        
    <div class="container">
      <div id="map">
          <h1> HEROES DE PUERTO RICO</h1>
        </div>

      <div class="name-wrapper">
        <span id="name"></span>
            
      <div class="form-wrapper">
          <a name="send-story"></div>
      </div>

      <div class="button-wrapper">
          <a class="btn" href="/subir"><span>SUBE TU HISTORIA</span></a>
      </div>

            
    {% block scripts %}
        {{ super() }}
    {% endblock %}

    </div> 
  	<script type = 'text/javascript'>

      $('document').ready(function() {
				orgullopr.init();
				mapOperator.init();

      	$('.btn').click(function () {
        	orgullopr.showForm();
        });
				$('.send-story').click(function () {
					orgullopr.showForm();
				});
        $('button.cancel').click(function() {
        	orgullopr.hideForm();
        });
      });
  	</script>
{% endblock %}
