{% extends "layout.html" %}
{% block title %}Sobre - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
    
    <img src="{{ url_for('static', filename='img/imagendeclara.png') }}">
    <div class="row">
      <div class="col-lg-4">
        <h2>Meet Owners Like You</h2>
        <p>Plug into a rich network of smart, small business owners just like you.</p>
      </div>
      <div class="col-lg-4">
       	<h2>Learn With Your Peers</h2>
        <p>Get and give support with people pursuing the same goals or dealing with same challenges.</p>
      </div>
      <div class="col-lg-4">
       	<h2>Promote your endeavor</h2>
        <p>Build professional connections and uncover effective business strategies.</p>
      </div>
    </div>
  &nbsp;&nbsp;&nbsp;&nbsp;

{% endblock %}