{% extends "layout.html" %}
{% block title %}Subir - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
<form action="/add" method="post" class="input-form" name="input-form">
	<legend>Sube la historia de tu negocio: queremos compartir lo bueno, lo malo y lo malisimo</legend>
	<ul>
		<li>
			<label for="name">Tu email</label>
			<input type="text" id="name" name="name" placeholder="Entre su nombre" required="true"/>
		</li>
		<li>
			<label for="prof">El Nombre del negocio</label>
			<input type="text" id="prof" name="prof" placeholder="Entra el nombre del negocio" required="true"/>
		</li>
		<li>
			<label for="town">La Industria del negocio</label>
			<select id="town" name="town" required="true">
				<option value="">Selecciona uno...</option>
				{% for industry in industries %}
				<option value="{{ town.name }}">{{ industry.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="prof">Breve historia del negocio</label>
			<input type="text" id="pride_in" name="pride_in" cols="50" rows="6" ></textarea>
		</li>
		<li>
			<label for="town">Municipio del negocio</label>
			<select id="town" name="town" required="true">
				<option value="">Selecciona uno...</option>
				{% for town in towns %}
				<option value="{{ town.name }}">{{ town.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="town">Tus metas</label>
			<select id="town" name="town" required="true">
				<option value="">Selecciona uno...</option>
				{% for town in towns %}
				<option value="{{ town.name }}">{{ town.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="town">Tu principal desafío </label>
			<select id="town" name="town" required="true">
				<option value="">Selecciona uno...</option>
				{% for town in towns %}
				<option value="{{ town.name }}">{{ town.name }}</option>
				{% endfor %}
			</select>
		</li>
		<li>
			<label for="name">Twitter</label>
			<input type="text" id="name" name="name" placeholder="Entra la página de Twitter" required="true"/>
		</li>
		<li>
			<label for="name">Facebook</label>
			<input type="text" id="name" name="name" placeholder="Entra la página de facebook" required="true"/>
		</li>
		<li>
			<label for="name">Website</label>
			<input type="text" id="name" name="name" placeholder="Entra la página web" required="true"/>
		</li>
		<li>
			<label for="youtubelink">Enlace a video</label>
			<input id="youtube_link" name="youtube_link" type="text" placeholder="Entra el url de su video de Youtube" >
		</li>
		<li>
			<label for="youtubelink">Enlace a foto</label>
			<input id="youtube_link" name="youtube_link" type="text" placeholder="Entra el url de su  foto">
		</li>
		<li>
			<button type="submit" class="submit">Enviar</button>
		</li>
	</ul>
</fieldset>
</form>
{% endblock %}	

What are your three most important goals in your business right now?
What are your three most important financial goals right now?

What are goals if you don't lay out for yourself the major concerns or worries that you have in your life right now? That's what we thought.  

Once you have identified, say, three major worries, ask yourself:

What are the ideal solutions to each of these problems?
How could I eliminate these problems or worries immediately?
What is the fastest and most direct way to solve each problem? 
Balancing your goals with major worries (and potential solutions to these major worries) is a great place to start with goal setting.
