{% extends "layout.html" %}
{% block title %}Subir - Historias de Negocios - Puerto Rico{% endblock %}
{% block head %}
	{{ super() }}
	<!-- any local css/styling should be put here -->
{% endblock %}
{% block content %}
<!--

<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Tu Nombre</label>
    <input type="text" class="form-control" id="inputname" placeholder="Entra tu nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Tu email</label>
    <input type="email" class="form-control" id="inputemail" placeholder="Entra tu email">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">El nombre del negocio</label>
    <input type="text" class="form-control" id="inputbusinessname" placeholder="Entra el nombre del negocio">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Breve historia del negocio</label>
    <input type="text" class="form-control" id="exampleinputstory" placeholder="Breve historia del negocio">
  </div>
    <div><select class="form-control">
    <label for="exampleInputPassword1">Municipio</label>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
   </select></div>
    <select class="form-control">
    <label for="exampleInputPassword1">Desafíos</label>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
   </select>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Meta 1</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Meta 2</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Meta 3</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div>
	<select class="form-control">
	 <label for="exampleInputPassword1">Industria</label>
	  <option>1</option>
	  <option>2</option>
	  <option>3</option>
	  <option>4</option>
	  <option>5</option>
	</select>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Facebook</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Twitter</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Website</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Sube una foto</label>
    <input type="file" id="exampleInputFile">
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Enlace a video</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
-->
<br/>
<div class="container"><div class="row"><div class="col-md-4 col-md-offset-4"><div class="row">

<form action="/add" method="POST" class="form-horizontal" role="form">
  
  <div class="form-group">
  	<label for="name" class="col-sm-4 control-label">Tu nombre</label>
  	<div class="col-sm-8">
  		<input type="text" id="name" class="form-control" name="name" placeholder="Entre su nombre" required="true"/>
  	</div>
  </div>
  
  <div class="form-group">
  	<label for="email" class="col-sm-4 control-label">Tu email</label>
  	<div class="col-sm-8">
  		<input type="email" class="form-control" name="email" placeholder="Entre su email" required="true"/>
  	</div>
  </div>

  <div class="form-group">
  	<label for="prof" class="col-sm-4 control-label">El Nombre del negocio</label>
  	<div class="col-sm-8">
			<input type="text" id="prof" class="form-control" name="prof" placeholder="Entra el nombre del negocio" required="true"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="industry">La Industria del negocio</label>
		<div class="col-sm-8">
			<select id="industry" name="industry" required="true" class="form-control">
				<option value="">Selecciona uno...</option>
				<option value="Agricultura">Agricultura</option>
				<option value="Turismo">Turismo</option>
				<option value="Finanzas">Finanzas</option>
				<option value="Hospedaje">Hospedaje</option>
				<option value="Comida & Bebida">Comida & Bebida</option>
				<option value="Arte y entretenimiento">Arte y entretenimiento</option>
				<option value="Construcción">Construcción</option>
				<option value="Farmaceútica">Farmaceútica</option>
				<option value="Biotecnología">Biotecnología</option>
				<option value="Comercio">Comercio</option>
				<option value="Salud">Salud</option>
				<option value="nformática / media / internet">Informática / media / internet</option>
				<option value="Administración pública">Administración pública</option>
				<option value="Bienes raíces">Bienes raíces</option>
				<option value="Transporte">Transporte</option>
				<option value="Retail">Retail</option>
				<option value="Manufactura">Manufactura</option>
				<option value="Reparación de autos">Reparación de autos</option>
				<option value="Educación">Educación</option>
				<option value="Servicios profesionales">Servicios profesionales</option>
				<option value="Servicios científicos y técnicos">Servicios científicos y técnicos</option>
				<option value="Administración de empresas">Administración de empresas</option>
				<option value="Soporte administrativo">Soporte administrativo</option>
				<option value="Otra">Otra</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for=" industry_other">La Industria del negocio (otro)</label>
		<div class="col-sm-8">
			<input type='text' name='industry_other' class="form-control">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="pride_in">¿Cómo obtuviste tu primer peso?</label>
		<div class="col-sm-8">
			<textarea name="pride_in" cols="50" rows="6" class="form-control" maxlength="400"></textarea>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="town">Municipio del negocio</label>
		<div class="col-sm-8">
			<select id="town" name="town" required="true" class="form-control">
				<option value="">Selecciona uno...</option>
				{% for town in towns %}
				<option value="{{ town.name }}">{{ town.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>

	<!--
		<li>
			<p>Tus metas</p>
		</li>
		<li>
			<label for="metas">Meta 1</label>
			<input type='text' name='metas[]' required="true">
		</li>
		<li>
			<label for="metas">Meta 2</label>
			<input type='text' name='metas[]'>
		</li>
		<li>
			<label for="metas">Meta 3</label>
			<input type='text' name='metas[]'>
		</li>
	-->

	<div class="form-group">
		<label class="col-sm-4 control-label" for="desafio">Tu principal desafío</label>
		<div class="col-sm-8">
			<select id="desafio" name="desafio" required="true" class="form-control">
				<option value="">Selecciona uno...</option>
				<option value="Reubicar un negocio">Reubicar un negocio</option>
				<option value="Contratar pasantes">Contratar pasantes</option>
				<option value="Entrenar empleados">Entrenar empleados</option>
				<option value="Comprar equipamiento">Comprar equipamiento</option>
				<option value="Acceder a capital">Acceder a capital</option>
				<option value="Abrir un nuevo local">Abrir un nuevo local</option>
				<option value="Encontrar clientes">Encontrar clientes</option>
				<option value="Encontrar empleados calificados">Encontrar empleados calificados</option>
				<option value="Impuestos y regulaciones">Impuestos y regulaciones</option>
				<option value="Costo del alquiler">Costo del alquiler</option>
				<option value="Exportar la marca">Exportar la marca</option>
				<option value="other">Otro</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="twitter_url">Twitter</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="twitter_url" placeholder="Entra tu nombre de Twitter" class="form-control"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="facebook_url">Facebook</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="facebook_url" placeholder="Entra la URL de su página de facebook" class="form-control"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="website_url">Website</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="website_url" placeholder="Entra la URL de su página web" class="form-control"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="youtube_url">Enlace a video</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="youtube_url" placeholder="Entra el URL de su video de Youtube" class="form-control"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="picture_url">Enlace a foto</label>
		<div class="col-sm-8">
			<input type="text" id="name" name="picture_url" placeholder="Entra el URL de su foto" class="form-control"/>
		</div>
	</div>
	<div class="col-sm-8 col-sm-offset-4">
		<button type="submit" class="submit">Enviar</button>
	</div>
		
</form>
</div></div></div></div>
{% endblock %}	